<h1>AssessmentEvent#index</h1>
<p>Find me in app/views/assessment_event/index.html.erb</p>

<% @assessment_event.each do |assessment_event| %>
  <%= link_to(h(assessment_event.userName), :action => 'show', :id => assessment_event) %><br/>
<% end%>