<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Startseite SAiL-M</title>


<%= stylesheet_link_tag "StyleSheet" %>

</head>
<body>
  <h1>Willkommen auf der Startseite SAiL-M</h1>

  <p>In der unten stehenden Tabelle können Sie verschiedene Aktionen auswählen:</p>

<table  width="50%" border="1">
  <tr>
    <th scope="col" >Alle registrierten Nutzer</th>
    <td><%= button_to "Liste aller Nutzer", :controller => "anzeige", :action => "index" %></td>
  </tr>

  <tr>
    <td>Ich bin ein leeres Feld</td>
    <td>Ich bin auch noch leer</td>

  </tr>

</table>




</body>

